@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
}

header{
  width: 100%;
  height: 80px;
  background: linear-gradient(-25deg, black,#444,black);
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 100px;
}
.logo{
  font-size: 28px;
  font-weight: bold;
  color: #fefefe;
}
.hum{
  display: none;
}
.nav-bar ul{
  display: flex;
}
.nav-bar ul li a{
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}
.nav-bar ul li a:hover{
  color:black;
  background: #fefefe;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 70vh;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: url("bg_1.jpg");
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-transform : uppercase ;
    font-size : 3rem;
    color :white;
    text-align: center;
}
.container{
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  background: linear-gradient(-25deg, black,#444,black);
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 10px 50px 10px black;
  margin-top: 50px;

}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: #ffffff;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ffe292, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.details{
    color: #ffffff;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: 1;
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
    background: none;
    border-style:solid;
    border-top: none ;
    border-left: none;
    border-right: none ;
    outline: none;
    display: block;
    background: none;
  height: 45px;
  width: 100%;
  font-size: 16px;
  padding-left: 15px;
  border-color: #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  color: #ccc;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #ffe292, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #ffe292, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
.gender{
    color: #ffffff;
}
 